* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #fffaf4;
}

img {
    object-fit: contain;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
}

.text-align-right {
    text-align: right;
}

.separator {
    width: 1px;
    background-color: #3e4450;
}

.important {
    font-weight: 600;
}

.topwaves {
    width: 100%;
    height: 50px;
    background-color: #3e4450;
    margin-bottom: -2px;
}

.waves {
    background-image: url("img/wave.svg");
    background-repeat: repeat-x;
    background-size: auto 75px;
    width: 100%;
    height: 75px;
}

.main {
    align-items: center;
    padding: 0px 32px 48px 32px;
    gap: 40px;
}

.header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.title {
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 0px 32px;
}

.title h2 {
    text-align: center;
}

.qualification {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 40px;
}

.qualification h3 {
    align-content: center;
}

.pictures {
    gap: 24px;
}

.pictures img {
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.footer {
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    gap: 32px;
}

.contact p {
    color: #a24a53;
}

.contact td {
    padding: 8px;
    align-content: start;
}

.contact td:first-child {
    text-align: right;
}

.biscuits {
    max-height: 150px;
    max-width: 150px;
    min-width: 50px;
}

h1 {
    color: #f9924d;
    font-size: 3em;
    font-weight: 900;
}

h2 {
    color: #4a4e5b;
    font-size: 2em;
    font-weight: 700;
}

h3 {
    color: #4a4e5b;
    font-size: 1.5em;
    font-weight: 400;
}

p {
    color: #736a61;
    font-size: 1.5em;
    max-width: 700px;
    font-weight: 200;
}

h1, h2, h3, p {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

h1.title {
    font-family: "Simonetta", serif;
    font-weight: 900;
    font-style: normal;
}